.react-tabs {
  & [role="tablist"] {
    display:table;
    width:100%;
    margin-bottom:30px;
    table-layout:fixed;
    border-color:$color-border;
  }

  & [role="tab"] {
    display:table-cell;
    padding:15px;
    text-align:center;
    &[aria-selected="true"] {
      border-color:$color-border;
      border-radius:0;
    }
  }
}
