.tax-setting {
  $_gutter:10px;

  @at-root {
    #{&}__row {
      display:table;
      width:100%;
      margin-right:-$_gutter;
      margin-left:-$_gutter;
      table-layout:fixed;
    }

    #{&}__col {
      display:table-cell;
      vertical-align:middle;
      padding-right:$_gutter;
      padding-left:$_gutter;
    }

    #{&}__clear {
      display:block;
      width:150px;
      margin:50px auto;
      padding:6px 12px;
      background:$color-green;
      font-size:12px;
      border:none;
      border-radius:2px;
      color:#fff;
      transition:all $transition-duration $ease-out-quad;
      &:hover {
        background:lighten($color-green, 5%);
        box-shadow:$depth-1;
      }
      &:active {
        background:lighten($color-green, 10%);
        box-shadow:$depth-2;
      }
    }
  }

  @include mq-small {
    #{&}__row {
      display:block;
      width:auto;
      margin:0;
    }

    #{&}__col {
      position:relative;
      display:block;
      padding:0;
    }
  }
}
