.tax-setting {
  $_gutter:10px;

  @include e(row) {
    display:table;
    width:100%;
    margin-right:-$_gutter;
    margin-left:-$_gutter;
    table-layout:fixed;
  }

  @include e(col) {
    display:table-cell;
    vertical-align:middle;
    padding-right:$_gutter;
    padding-left:$_gutter;
  }

  @include e(clear) {
    display:block;
    width:150px;
    margin:50px auto;
    padding:6px 12px;
    background:$color-green;
    font-size:12px;
    border:none;
    border-radius:2px;
    color:#fff;
    transition:all $transition-duration $ease-out-quad;
    &:hover {
      background:lighten($color-green, 5%);
      box-shadow:$depth-1;
    }
    &:active {
      background:lighten($color-green, 10%);
      box-shadow:$depth-2;
    }
  }

  @include mq-small {
    @include e(row) {
      display:block;
      width:auto;
      margin:0;
    }
    @include e(col) {
      position:relative;
      display:block;
      padding:0;
    }
  }
  
}
